@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

body {
    background-color: aquamarine;
}

.whiteblock {
    font-size: 10px;
    padding: 16px;
    background: white;
    display: inline-block;
}

.greyblock {
    background-color:rgba(166, 166, 166, 1);
    padding: 16px;
    display: inline-block;
    border-radius: 24px;

}


.goldblock {
    background-image:url('https://pic.rutubelist.ru/user/9e/bb/9ebb0a20134240161427f5950ea7a2d9.jpg');
    width: 149px;
    aspect-ratio: 1;
    border-radius: 16px;
}

.buttonblock {
    background-color: rgba(85, 85, 85, 1);
    margin-top: 16px;
    padding: 10px 0;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    display:block;
}